TrungTamNgoaiNgu/build/
TrungTamNgoaiNgu/.settings/
TrungTamNgoaiNgu/.settings/org.eclipse.wst.common.project.facet.core.xml
TrungTamNgoaiNgu/src/hibernate.cfg
TrungTamNgoaiNgu/.classpath
*.classpath
TrungTamNgoaiNgu/src/hibernate.cfg.xml